* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Beautiful gradient background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 15px;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

#sendBtn {
    background-color: #2196F3;
    margin-top: 20px;
}

#sendBtn:hover {
    background-color: #1976D2;
}
